<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<meta name="keywords" content="Kieran Moore heroku ccpd edocode8698"/>
<meta name="description" content="heroku java spring test"/>

<head>


<!--  <link rel="stylesheet" type="text/css" th:href="@{main.css}"/>  -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}" />


    <title>Kieran Moore's First Heroku Deploy Example...edocode8698</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />  

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" /> 
</head>
<body >
<div class="body1" >
 <br/><br/>
<div class="container">

<div >

    <br/><br/>
    <h1 id="heading1">....Kieran's First Database....
        Just a Demo to get up and running..... </h1 ><h2 id="heading2">These are some some example functions to start with..==> lists
    Please make a suggestion below to help develop the site, cheers.....</h2>
    <br/><br/>


 <div >
 <img class="feat-img" src="http://lorempixel.com/400/300" />
		<h2>Change background color</h2>
				<p>Mouse over the squares!</p>

				<table style="width:300px; height:100px; margin: 0px auto;" >
				  <tr>
					<td onmouseover="bgChange(this.style.backgroundColor)" 
						onmouseout="bgChange('red')"
						style="background-color:Khaki">
					</td>
					<td onmouseover="bgChange(this.style.backgroundColor)" 
						onmouseout="bgChange('blue')"
						style="background-color:PaleGreen">
					</td>
					<td onmouseover="bgChange(this.style.backgroundColor)" 
						onmouseout="bgChange('orange')"
						style="background-color:Silver">
					</td>
					<td onmouseover="bgChange(this.style.backgroundColor)" 
						onmouseout="bgChange('white')"
						style="background-color:pink">
					</td>
					<td onmouseover="bgChange(this.style.backgroundColor)" 
						onmouseout="bgChange('purple')"
						style="background-color:yellow">
					</td>
				  </tr>
				</table>

 </div>


<br/>
    <br/>

    <div class="row " style="width:700px; margin:0 auto;">
        <div class="col-md-12 col-lg-6">
            <form th:object="${insertRecord}" method="POST">
                <div class="form-group">
                    <label for="data">Make a Suggestion:</label>
                    <input id="data" type="text" class="form-control" placeholder="TYPE HERE.." th:field="*{data}" />
                </div>
                <button type="submit" class="btn btn-default">Post Suggestion To Wall:</button>
            </form>
        </div>
    </div>
    <br/>
    <br/>
 <button  type="submit" >Change Color:</button>

<br/>
    <br/>




    <div class="row">
        <div class="col-sm-12">
        
         
               
                    <h1 style="text-align: center;">Suggestion List:</h1>
               
            <table class="table table-striped">
              
               
                <tbody>
                <tr th:each="record : ${records}">
                    <td th:text="${record.data}">Some text</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>

		


<!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
<!-- <div th:fragment="scripts">  -->
 
  <!--    <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>  -->
  <script type="text/javascript" th:src="@{/assets/js/app2.js}"></script>
  
 
<!-- </div>  -->

</div>
 <br/><br/>
 </div>
</body>
</html>