<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kieran's First Heroku Deploy Example...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="container">

    <br/><br/>
    <h1 id="heading1">....Kieran's First Database....
        Just a Demo to get up and running.....</h1 ><h2 id="heading2">These are some some example functions to start with..==> lists
    Please make a suggestion below to help develop the site, cheers.....</h2>
    <br/><br/>







    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form th:object="${insertRecord}" method="POST">
                <div class="form-group">
                    <label for="data">Suggestions:</label>
                    <input id="data" type="text" class="form-control" placeholder="TYPE HERE.." th:field="*{data}" />
                </div>
                <button type="submit" class="btn btn-default">Post Suggestion To Wall:</button>
            </form>
        </div>
    </div>







    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Make s suggestion:</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record : ${records}">
                    <td th:text="${record.data}">Some text</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>